---
- name: add influxdb repo
  yum_repository:
    name: influxdb
    description: InfluxDB Repository - RHEL \$releasever
    file: influxdb
    baseurl: https://repos.influxdata.com/centos/\$releasever/\$basearch/stable
    gpgkey: https://repos.influxdata.com/influxdb.key
    gpgcheck: yes
    enabled: yes
    state: present

- name: influxdb install
  yum:
    name: influxdb
    state: present

- name: create influxdb root directory
  file:
    path: "{{ influxdb_dir }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  notify: restart influxdb

- name: create influxdb directories
  file:
    path: "{{ item }}"
    state: directory
    owner: influxdb
    group: influxdb
    mode: 0755
  with_items:
    - "{{ influxdb_meta_dir }}"
    - "{{ influxdb_data_dir }}"
    - "{{ influxdb_wal_dir }}"
  notify: restart influxdb

- name: set influxdb config
  template:
    src: influxdb.conf.j2
    dest: /etc/influxdb/influxdb.conf
    mode: 0740
    owner: influxdb
    group: influxdb
    backup: yes
  notify: restart influxdb

- name: enable influxdb service
  service:
    name: influxdb
    state: started
    enabled: yes

- name: show influxdb databases
  command: "/usr/bin/influx -host {{ influxdb_listen_ip }} -execute \"SHOW DATABASES\" -username {{ influxdb_server_username }} -password '{{ influxdb_server_password }}'"
  register: show_db
  changed_when: false
  ignore_errors: true

- name: return from show databases
  debug:
    var: show_db
    verbosity: 2

- name: create influxdb user
  command: "/usr/bin/influx -host {{ influxdb_listen_ip }} -execute \"CREATE USER {{ influxdb_server_username }} WITH PASSWORD '{{ influxdb_server_password }}' WITH ALL PRIVILEGES\" -username {{ influxdb_server_username }} -password '{{ influxdb_server_password }}'"
  when: "'ERR: error authorizing query: create admin user first or disable authentication' in show_db.stdout_lines"

- name: create influxdb database
  command: "/usr/bin/influx -host {{ influxdb_listen_ip }} -execute \"CREATE DATABASE osn\" -username {{ influxdb_server_username }} -password '{{ influxdb_server_password }}'"
  when: "'osn' not in show_db.stdout_lines"

