[meta]
  dir = "{{ influxdb_meta_dir }}"

[data]
  dir = "{{ influxdb_data_dir }}"
  wal-dir = "{{ influxdb_wal_dir }}"
  series-id-set-cache-size = 100

[coordinator]

[retention]

[shard-precreation]

[monitor]

[http]

  bind-address = "{{ influxdb_listen_ip }}:8086"
  auth-enabled = true

[logging]

  level = "warn"

[subscriber]

[[graphite]]

[[collectd]]

[[opentsdb]]

[[udp]]

[continuous_queries]

[tls]

  ciphers = [ "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
            "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305",
            "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
            "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
            "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
            "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
  ]

  min-version = "tls1.2"

  max-version = "tls1.2"
